[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Smart Manual Station
Icon=/home/pi/SmartManualStation/logo.png
Exec=bash -c 'python3 /home/pi/SmartManualStation/main.py;$SHELL'
Terminal=true




